<div class="p-4">
  <h4 class="fst-italic">Elsewhere</h4>
  <ol class="list-unstyled">
    <li><a href="https://github.com/Felipejabur" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/felipe-jabur-78b177121/" target="_blank">Linkedin</a></li>
  </ol
</div>
